@model Passport_Visa_Management_System.PassportVisaManagementSystemService.ApplyVisa
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    @*<script>
            document.getElementById("issuedate").min = new Date().getFullYear() + "-" + parseInt(new Date().getMonth() + 1) + "-" + new Date().getDate()
        </script>*@

    <link href="~/Style/applyPassport.css" rel="stylesheet" />
    <body id="applypassportbody">
        <div class="main">

            <h1>Visa Cancellation</h1>
            <div class="containerpassport">
                <div class="apply-passport-content">
                    @using (Html.BeginForm())
                    { 
                    
                    <div class="form-textbox">
                        <label for="userid">User ID</label>
                        @Html.TextBoxFor(p => p.UserId, new { placeholder = "UserId"})

                    </div>
                    <div class="form-textbox">
                        <label for="userid">Passport Number</label>
                        @*<input type="text" name="userid" id="userid" />*@
                      @*
                          @Html.TextBoxFor(p => passs, new { placeholder = "UserId", Class = "input" })*@

                    </div>
                        <div class="form-textbox">
                            <label for="userid">Visa Number</label>
                            <input type="text" name="userid" id="userid" />
                        </div>
                        <div class="form-textbox">
                            <label for="userid">Date of Issue</label>
                            <input type="text" name="userid" id="userid" />
                        </div>

                        <div class="Apply">
                            <input type="submit" name="submit" id="submit" class="submit" value="Cancel Visa" />
                        </div>
                    }
                    </div>
            </div>

        </div>
    </body>
}

