@model Passport_Visa_Management_System.PassportVisaManagementSystemService.User

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>User Name</td>
            <td>@Html.TextBoxFor(x=>x.UserName)</td>

        </tr>
        <tr>
            <td>Password</td>
            <td>@Html.PasswordFor(x=>x.Password)</td>

        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>

        </tr>

    </table>
    if (ViewBag.C != null)
    {
        @ViewBag.C
    }

}

