@{ ViewBag.Title = "About";
    <link href="~/Styles/About.css" rel="stylesheet" /> }
<h3 class="title-register">ABOUT US</h3>
<div class="register-form">
    <div class="div-left">
        <h3 class="title-register" style="margin-bottom:5%;">PASSPORT SERVICES</h3>
        <p class="text-justify">
            A Passport is an essential travel document for those who are traveling abroad for
            education, tourism, pilgrimage, medical attendance, business purposes and family
            visits. During the last few years, the growing economy and spreading globalization
            have led to an increased demand for Passport and related services. This increasing
            demand for passports and related services is coming from both large cities and smaller towns,
            creating a need for wider reach and availability. To augment and improve the delivery of
            passport services to Indian citizens, the Ministry of External Affairs (MEA) launched the
            Passport Seva Project (PSP) in May 2010.
        </p>
        <p class="text-justify">
            Passport Seva enables simple, efficient and transparent processes for delivery of passport and related services.
            Apart from creating a countrywide networked environment for Government staff, it integrates with the State Police
            for physical verification of applicant's credentials and with India Post for delivery of passports.
        </p>
        <p class="text-justify">
            A multi-lingual National call centre operating in 17 Indian languages enables citizens to obtain passport service related
            information and receive updates about their passport applications, round the clock, seven days a week. An e-mail based helpdesk
            besides a mobile based application 'mPassport Seva' both on Android and IOS platforms enables submission of passport application,
            payment of the requisite fees, getting an appointment and also provides information on passport services.
        </p>
    </div>
    <div class="div-right">
        <h3 class="title-register" style="margin-bottom:5%;">VISA SERVICES</h3>
        <p class="text-justify">
            Visa requirements for Indian citizens are administrative entry restrictions by the authorities of other states placed on citizens of India. As of 25 February 2020,
            Indian citizens had visa-free or visa on arrival access to 58 countries and territories, ranking the Indian passport 84th in terms of travel freedom.
        </p>
        <p class="text-justify">
            Visa is a kind of official document or certificate of endorsement on your passport indicating that you are allowed to enter, leave and stay in a
            specific country for a specified period of time or permanently. It can be a separate certificate with a stamp marked on your passport. Visas are
            issued by the immigration authorities of a foreign country after checking and verifying all your credentials properly. Once, you get a visa means
            you are permitted to enter a country and stay there for a specific period of time.
        </p>
        <p class="text-justify">
            The major reason behind the implementation of visas and adhering to different visa policies by different countries is to prevent illegal migration and ensure better security. Usually, a visa policy of a
            particular country include the following aspects – Visa free entry, Visa on arrivals, Visa in advance and E-Visa. Some countries allow traveler from select
            countries Visa free entry while others would need Visa in advance. Again certain countries like India may issue e-Visa to tourists coming from selected
            countries. Likewise, some countries issue visa on arrivals which travelers collect from the airport directly.
        </p>
        <p class="text-justify">

        </p>
    </div>
</div>
